{% include "header.html" %}
<!-- <body> -->
    <!-- <div class="container"> -->
        <h1>Welcome to the GUDLFT Registration Portal!</h1>

        <form action="showSummary" method="post">
            <fieldset>
                <legend>Please enter your secretary email to continue:</legend>
                <div class="form-group row">
                    <label for="email" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="" name="email" value="john@simplylift.co">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </fieldset>
        </form>
    </div>
</body>
</html>